# 统一强制使用 LF 行尾，防止 Windows 幽灵 git modified 问题（init-prettier-git-hooks）
* text=auto eol=lf

# 常见二进制文件不做行尾归一化
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.bmp binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.tar binary
*.7z binary
*.ttf binary
*.eot binary
*.otf binary
*.woff binary
*.woff2 binary
*.wasm binary
*.pyc binary
*.pdf binary

# 办公常用文件
*.xls binary
*.wps binary
*.doc binary
*.docx binary
*.xlsx binary
*.pptx binary
