# https://pnpm.io/zh/npmrc#link-workspace-packages
link-workspace-packages=deep

# 设置成官方源 为了实现npm包的登录
# 关闭 在需要登录时才考虑打开。
# registry=https://registry.npmjs.org/

# https://blog.csdn.net/qq_41499782/article/details/128723054
public-hoist-pattern[]=*vue*

# 忽略根包检查 允许在不增加 -w 选项的情况下在工作区根目录中安装包
# https://pnpm.io/zh/cli/add#--ignore-workspace-root-check
# https://juejin.cn/post/7215608036394827836
# https://blog.csdn.net/qq_40028324/article/details/131081148
ignore-workspace-root-check = true