# 可以连接本地的包 让monorepo的包可以互相引用
# https://pnpm.io/zh/cli/recursive#--link-workspace-packages
link-workspace-packages=deep

# 设置成官方源 为了实现npm包的登录
# 关闭 在需要登录时才考虑打开。
# registry=https://registry.npmjs.org/

# https://github.com/emersonbottero/vitepress-plugin-mermaid/issues/70#issuecomment-2138743200
shamefully-hoist=true

# https://blog.csdn.net/qq_41499782/article/details/128723054
public-hoist-pattern[]=*vue*

# 处理 vitepress-plugin-mermaid 的错误
# https://github.com/emersonbottero/vitepress-plugin-mermaid/issues/70#issuecomment-2190838997
public-hoist-pattern[]=@braintree/sanitize-url
public-hoist-pattern[]=cytoscape
public-hoist-pattern[]=cytoscape-cose-bilkent
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

# https://github.com/emersonbottero/vitepress-plugin-mermaid/issues/77#issuecomment-2621116992
public-hoist-pattern[]=mermaid

# https://github.com/emersonbottero/vitepress-plugin-mermaid/issues/77#issuecomment-2674646656
public-hoist-pattern[]=@braintree/sanitize-url
public-hoist-pattern[]=dayjs
public-hoist-pattern[]=debug
public-hoist-pattern[]=cytoscape-cose-bilkent
public-hoist-pattern[]=cytoscape

# 忽略根包检查 允许在不增加 -w 选项的情况下在工作区根目录中安装包
# https://pnpm.io/zh/cli/add#--ignore-workspace-root-check
# https://juejin.cn/post/7215608036394827836
# https://blog.csdn.net/qq_40028324/article/details/131081148
ignore-workspace-root-check = true
